.assistant-wrapper{
    width: 100%;
    background: rgb(63, 63, 63);
    height: 45.7em;
}

.description-hidden{
    display: none;
}

.header-hidden{
    display: none;
}

.popup-hidden-wrapper{
    display: none;
}

.popup-hidden{
    display: none;
}