.assistant-wrapper{
    width: 100%;
    background: rgb(63, 63, 63);
    height: 45.7em;
}

.taskbar{
    background: rgb(43, 43, 43);
    height: 20px;
    -webkit-app-region: drag;
}

.description-hidden{
    display: none;
}

.header-hidden{
    display: none;
}

.popup-hidden-wrapper{
    display: none;
}

.popup-hidden{
    display: none;
}

.branch-exists-hidden{
    display: none;
}