.history-wrapper{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    height: 420px;
    overflow-y: scroll;
}

.ant-empty-image{
    margin-top: 2em;
}

.history-wrapper::-webkit-scrollbar{
    width: 12px;
}

.history-wrapper::-webkit-scrollbar-track{
    box-shadow: inset 0 0 15px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.history-wrapper::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
}

.history-content-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.history-information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.history-load-branch-button{
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    background: rgb(63, 63, 63);
    border: 2px solid rgb(33, 33, 33);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.history-load-branch-button:hover{
    background: rgb(53, 53, 53);
    transform: translate3d(0, -2px, 0);
}

.history-load-branch-button:active{
    transform: translate3d(0, 1px, 0);
}

p{
    margin-bottom: 0em;
}

.history-commit{
    margin-bottom: 2em;
    margin-right: 0.5em;
}

.confirmation-modal-wrapper{
    display: flex;
    position: absolute;
    z-index: 20;
    background: rgb(63, 63, 63);;
    width: 300px;
    height: 210px;
    top: 0;
    margin-top: 6em;
    margin-left: 1.8em;
    flex-direction: column;
    font-size: 15px;
    border: solid 2px rgb(63, 63, 63);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 1em;
}

.confirmation-modal-wrapper > p{
    color: white;
    text-align: center;
    margin-top: 0.5em;
}

.confirmation-modal-wrapper-appy-commit{
    display: flex;
    position: absolute;
    z-index: 20;
    background: rgb(63, 63, 63);;
    width: 320px;
    height: 220px;
    top: 0;
    margin-top: 8em;
    margin-left: 1.3em;
    flex-direction: column;
    font-size: 15px;
    border: solid 2px rgb(63, 63, 63);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 1em;
}

.confirmation-modal-wrapper-appy-commit > p{
    color: white;
    text-align: center;
    margin-top: 0.5em;
}

.confirmation-modal-choices{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0em;
}

.confirmation-modal-yes{
    background: rgb(63, 63, 63);
    border: 2px solid rgb(33, 33, 33);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 75px;
}

.confirmation-modal-yes:hover{
    background: rgb(53, 53, 53);
    transform: translate3d(0, -2px, 0);
}

.confirmation-modal-yes:active{
    transform: translate3d(0, 1px, 0);
}

.confirmation-modal-no{
    background: rgb(63, 63, 63);
    border: 2px solid rgb(33, 33, 33);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 75px;
}

.confirmation-modal-no:hover{
    background: rgb(53, 53, 53);
    transform: translate3d(0, -2px, 0);
}

.confirmation-modal-no:active{
    transform: translate3d(0, 1px, 0);
}

.inspecting-modal-wrapper{
    display: flex;
    position: absolute;
    z-index: 20;
    background: rgb(63, 63, 63, 0.96);
    width: 330px;
    height: 590px;
    top: 0;
    flex-direction: column;
    font-size: 15px;
    border: solid 2px rgb(63, 63, 63);
    border-radius: 1em;
}

.inspecting-modal-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 2em;
}

.inspecting-modal-text-two{
    margin-top: 2em;
}

.inspecting-modal-choices{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2em;
}

.inspecting-modal-yes{
    background: rgb(63, 63, 63);
    border: 2px solid rgb(33, 33, 33);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 150px;
}

.inspecting-modal-yes:hover{
    background: rgb(53, 53, 53);
    transform: translate3d(0, -2px, 0);
}

.inspecting-modal-yes:active{
    transform: translate3d(0, 1px, 0);
}

.inspecting-modal-no{
    background: rgb(63, 63, 63);
    border: 2px solid rgb(33, 33, 33);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 150px;
}

.inspecting-modal-no:hover{
    background: rgb(53, 53, 53);
    transform: translate3d(0, -2px, 0);
}

.inspecting-modal-no:active{
    transform: translate3d(0, 1px, 0);
}

.hidden{
    display: none;
}

.anticon-plus-circle{
    font-size: 50px;
    z-index: 5;
    margin-left: 5em;
    margin-top: 0.3em;
    cursor: pointer;
    transition: all 0.2s ease;
}

.anticon-plus-circle:hover{
    transform: translate3d(0, -2px, 0);
}

.anticon-plus-circle:active{
    transform: translate3d(0, 1px, 0);
}